---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- Courses and students are plain lists-->

<h2 id="courses" class="archive__subtitle">Courses</h2>

<ul>
  <li>
    <strong>Computer Science: Programming and Databases</strong>
    (57 hours), 2026-2027.
    Teaching Assistant, <em>AgroParisTech</em>.
  </li>
</ul>

<h2 id="students" class="archive__subtitle">Master's students</h2>

<ul>
  <li>
    <strong><a href="https://www.linkedin.com/in/ismail-elyousfi/">Ismaïl El Yousfi</a></strong>, 2026:
    <em>Multi-scale modeling and what-if scenario generation for dairy production forecasting</em>. <em>AgroParisTech</em>.<br>
    With <a href="https://mia-ps.inrae.fr/cristina-manfredotti">Cristina Manfredotti</a>.
  </li>
</ul>

<h2 id="workshops-and-occasional-interventions" class="archive__subtitle">Workshops and Occasional interventions</h2>

{% for post in site.teaching reversed %}
  {% include archive-compact.html %}
{% endfor %}
