---
layout: archive
title: "Blog posts"
permalink: /year-archive/
author_profile: true
---

{% include base_path %}

Here, I explain Machine Learning concepts in my own way, share ideas about the current state of the field, and narrate historical topics that I find interesting.
 This blog serves primarily as a personal exercise to encourage me to write and consolidate new knowledge.
 <b>Although it is a personal blog, all the information is drawn from reliable sources.</b>

 {% for post in site.posts %}
 {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
 {% if year != written_year %}
   <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
   {% capture written_year %}{{ year }}{% endcapture %}
 {% endif %}
   {% include archive-single.html %}
 {% endfor %}
